* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3;
  height: 100vh;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#orange {
  background-color: #ffc788;
  height: auto;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 0;
  margin-bottom: 0;
}

#yellow {
  background-color: #ffff92;
  height: auto;
  grid-row: 2;
  margin-left: 0;
  margin-right: 2em;
}

#red {
  background-color: #ff919c;
  height: auto;
  grid-row: 2;
  margin-left: 0;
}

#blue {
  background-color: #98d2ff;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 3;
  margin-bottom: 0;
  margin-right: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  place-items: center;
  height: 80%;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
  width: 90px;
}

p {
  padding: 1em 0;
}
